@{
    ViewBag.Title = "Home Page";
}

<h2>Marine Max</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ol id="spCondition"></ol>
        </div>
        <div class="col-sm-3">
            <ol id="spBoatTypes"></ol>
        </div>
        <div class="col-sm-3">
            <ol id="spFuelTypes"></ol>
        </div>
        <div class="col-sm-3">
            <ol id="spPromotion">
                <li><input type="checkbox" value="True" name="chkPromotional" id="chkPromotional" />Promotional?</li>
            </ol>
            <ol id="spLifestyleTypes"></ol>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-3 max-height">
            <ol id="spMakes"></ol>
        </div>
        <div class="col-sm-3 max-height">
            <ol id="spModels"></ol>
        </div>
        <div class="col-sm-3 max-height">
            <p>Records Per Page</p>
            <input type="text" id="txtRecordsPerPage" value="2" />
            <p>Page Number</p>
            <input type="text" id="txtPageNumber" value="0" />
            <p>Year Start</p>
            <input type="text" id="txtYearStart" value="0" />
            <p>Year End</p>
            <input type="text" id="txtYearEnd" value="0" />
            <p>Keyword</p>
            <input type="text" id="txtKeyword" />
            <p>Geo (33.7678359,-84.4906439)</p>
            <input type="text" id="txtLatitude" />
            <input type="text" id="txtLongitude" />

            <p>Radius (miles)</p>
            <input type="text" id="txtRadiusInMiles" />
        </div>
        <div class="col-sm-3 max-height">
            <p>Price Start</p>
            <input type="text" id="txtPriceStart" value="0" />
            <p>Price End</p>
            <input type="text" id="txtPriceEnd" value="0" />
            <p>Length Start</p>
            <input type="text" id="txtLengthStart" value="0" />
            <p>Length End</p>
            <input type="text" id="txtLengthEnd" value="0" />
            <p>Dealer ID (44103)</p>
            <input type="text" id="txtDealerId" value="0" />
        </div>
    </div>
</div>

<a href="javascript: refine();">Refine</a> | 
<a href="javascript: reset();">Reset</a>

<hr />
<div>
    <h3>Results (<span id="num-results"></span>)</h3>
    <ol id="spHits"></ol>
</div>

<hr />

<h3>Raw Output</h3>
<pre id="raw-output"></pre>


